
/* General body styles */
body {
    background-color: #fafafa;
    background-size: cover;
    background-attachment: fixed;
    color: #505050;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    line-height: 1.5em;
    margin: 60px auto;
    width: 1000px;
    overflow-y:scroll;
}

/* Conference Title Logo */
.title1{color: #b2132e; text-shadow: 1px 1px 3px #c0c0c0;} 
.title2{color: #52739e; text-shadow: 1px 1px 3px #c0c0c0;}
.year{color: #505050; font-size:0.67em; font-weight: lighter;}

/* Navigation Bar using Flexbox */
.navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: #eeeeee;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navigation a {
    font-size: 1.5em;
    text-decoration: none;
    color: #000000;
    padding: 0 15px;
    text-align: center;
}

.navigation a:hover {
    color: #b2132e;
}

/* Adjust the body margin to account for the fixed navbar */
body {
    margin-top: 80px; /* Adjusted to account for the fixed navbar height */
}

/* Banner Styles */
.banner {
    position: relative;
    font-family: 'Roboto Slab', serif;
}

.top-left {
    font-size: 5.33em;
    color: #505050;
    background: #fafafa;
    text-align: center;
    width: 1000px;
    height: 67px;
    position: absolute;
    padding: 36px 0 0 0;
    top: 0px;
}

.bottom-right {
    font-size: 2.33em;
    color: #fafafa;
    line-height: 1.5em;
    width: auto;
    height: 120px;
    padding: 0px 27px 27px 0px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-shadow: 0px 0px 6px #000000;
}

/* Slideshow Styling */
.banner-slideshow {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner-slideshow img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}
